@tailwind base;

@tailwind components;

@tailwind utilities;
:root{
  --main-bg-color: #ECEDED;
  --light-text: #FFFFFF;
  --title-bg-color: #1C1718;
  --elevated-bg-color: #FFFFFF;
  --shadow-color: #A8AFB5;
  --border-color: #1C1718;
}
html{
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}

/*HEADER BLOCKS*/

.navDiv{
  padding-top: .5rem;
  grid-area: navDiv;
}
.hero{
  grid-area: hero;
}
.logo{
  grid-area: logo;
  max-width: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow-color) 3px 3px;
}

/*TITLE BLOCKS*/

.title{
  grid-area: title;
  color: var(--light-text);
  background-color: var(--title-bg-color);
  padding: 15px;
  font-size: 2rem;
}
.subtitle{
  grid-area: subtitle;
  color: var(--light-text);
  background-color: var(--title-bg-color);
  padding: 15px;
  font-size: 2rem;
}
.darkBar{
  grid-area: leftBarA;
  background-color: var(--title-bg-color);
}

/*CONTENT BLOCKS*/

.contentOne{
  padding-top: 1rem;
  padding-right: 5px;
  padding-left: 5px;
  grid-area: contentOne;
  text-align: justify;
}
.contentOne > p, .contentTwo > p{
  padding-top: .5rem;
}
.contentTwo{
  padding-top: 1rem;
  padding-right: 5px;
  padding-left: 5px;
  grid-area: contentTwo;
  text-align: justify;
}

/*INDEX AND BLOG CONTENT*/

.longContent{
  grid-area: blogContent;
  padding: 1rem;
  grid-column: 1/4;
  grid-row: 5/7;
}

/*CONTACT PAGE*/

.contactContent{
   padding: 1rem;
   grid-column: 1/4;
   grid-row: 5/7;
 }
.contactList{
  margin: 0;
}
.icon1, .icon2{
  display: inline-block;
  padding-right: 3px;
  margin: 0;
}
.icon1{
  padding-bottom: 4px;
}
.icon2{
  padding-top: 0;
  padding-bottom: 6px;
}

/*MAIN GRID*/

.mainGrid{
  background-color: var(--main-bg-color);
}
.mainGrid{
  display: grid;
  grid-template-columns: auto 50px auto;
  grid-template-areas:
    "navDiv navDiv navDiv"
    "hero hero hero"
    "subtitle subtitle subtitle"
    "title title title"
    "contentOne contentOne contentOne"
    "contentTwo contentTwo contentTwo"
    ". logo ."
    "postsGrid postsGrid postsGrid";
}

/*POST CARD INDEX GRID*/

.postsHeading{
  grid-area: postsHeading;
  padding-top: 30px;
}
.postsContainer{
  grid-area: posts;
}
.postsGrid{
  grid-area: postsGrid;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 80px auto;
  background-color: var(--main-bg-color);
  grid-template-areas:
          ". postsHeading ."
          "posts posts posts";
}

/*CONTENT CARD GRID*/

.contentCardTitle{
  grid-area: cardTitle;
}
.contentCardExcerpt{
  grid-area: cardExcerpt;
}
.contentCard{
  margin: 2em;
  padding: 10px;
  border: 2px solid var(--border-color);
  background-color: var(--elevated-bg-color);
  box-shadow: var(--shadow-color) 3px 3px;
  display: grid;
  grid-template-areas:
    "cardTitle"
    "cardExcerpt";
}


@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*!* Medium screens - TABLET *!*/
/*!* min-width 641px *!*/

@media only screen and (min-width: 40.063em) {

  /*MAIN GRID*/
  /*TABLET REFORMAT*/

  .mainGrid{
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-template-areas:
      "logo navDiv navDiv navDiv"
      "hero hero hero hero"
      "subtitle subtitle title title"
      "contentOne contentOne contentOne contentOne"
      "contentTwo contentTwo contentTwo contentTwo"
      "postsGrid postsGrid postsGrid postsGrid";
  }
  .longContent{
    grid-column: 1/5;
    grid-row: 4/6;
  }
  .contactContent{
    grid-column: 1/5;
    grid-row: 4/6;
  }
  .logo{
    margin: 5px;
  }
  .navDiv{
    margin-top: 1rem;
    padding: 0;
  }
  .subtitle{
    padding: 1.5rem;
    font-size: 2rem;
  }
  .title{
    padding-left: 3rem;
    padding-top: 2.66rem;
    padding-bottom: .33rem;
    font-size: 3rem;
  }
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* small-medium screens - DESKTOP */
/* min-width 1025px*/

@media only screen and (min-width: 64.063em) {

  /*!*MAIN GRID*!*/
  /*!*SMALL-MEDIUM SCREEN REFORMAT*!*/

  .mainGrid{
    display: grid;
    grid-template-columns: 2fr 4fr 65px 2fr;
    grid-template-rows: 65px 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
      "leftBarA hero logo navDiv"
      "subtitle hero . contentOne"
      "title hero . contentOne"
      "title hero . contentTwo"
      "title hero . contentTwo"
      "title . postsGrid postsGrid";
  }

  /*CONTENT BLOCKS*/
  /*MEDIUM DESKTOP*/

  .longContent{
    padding-right: 2vw;
    padding-left: 20px;
    grid-column: 3/5;
    grid-row: 2/6;
    text-align: justify;
  }
  .contactContent{
    grid-column: 3/5;
    grid-row: 3/6;
  }
  .contentOne, .contentTwo, .longContent, .postsGrid{
    font-size: .85rem;
  }

  .logo{
    max-width: 50px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    padding-top: 5px;
    box-shadow: var(--shadow-color) -5px 5px 2px -2px;
  }
  .navDiv{
    margin-top: 3px;
  }
  .title{
    padding-left: 1rem;
    font-size: 3rem;
  }
  .subtitle{
    padding-left: 1rem;
    font-size: 3rem;
  }
  .hero{
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    width: auto;
    background-color: var(--shadow-color);

  }
  .heroImage{
    height: 100vh;
    width: auto;
  }
}


@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) {

  /*MAIN GRID*/
  /*LARGE SCREEN REFORMAT*/

  .mainGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 80px 1fr 1fr;
    /*grid-template-rows: 80px repeat(4, calc((100vh - 80px) / 4));*/
    grid-template-rows: 80px 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
            "leftBarA hero logo navDiv navDiv"
            "leftBarA hero . . ."
            "subtitle hero . contentOne contentOne"
            "title hero . contentTwo contentTwo"
            "title hero . contentTwo contentTwo"
            "title . . postsGrid postsGrid"
  }

  /*CONTENT BLOCKS*/
  /*LARGE SCREEN*/

  .contentOne{
    padding-right: 4vw;
    padding-left: 20px;
    font-size: 1rem;
    text-align-last: right;
  }
  .contentTwo{
    padding-right: 4vw;
    padding-left: 20px;
    font-size: 1rem;
    text-align-last: right;
  }
  .longContent{
    margin-top: 8vw;
    padding-right: 4vw;
    padding-left: 20px;
    grid-column: 4/6;
    grid-row: 2/6;
    font-size: 1rem;
    text-align-last: right;
  }
  .contentOne > h4, .contentTwo > h4 {
    text-align: right;
  }
  .longContent > h4 {
    padding-top: 0;
    text-align: right;
    padding-bottom: .25rem;
  }
  .longContent > p {
    padding-bottom: .5rem;
  }
  .contactContent{
    grid-column: 4/6;
    grid-row: 3/6;
  }
  .contactContent > p {
    margin-bottom: 1rem;
  }
  .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contentCard{
    max-width: 40vw;
  }
  .postsGrid{
    grid-column: 4/6;
    grid-row: 6/7;
    font-size: 1rem;
  }

  /*HEADER*/
  /*LARGE SCREEN*/

  .logo{
    max-width: 65px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 10px;
    padding-top: 5px;
    box-shadow: var(--shadow-color) -5px 5px 2px -2px;
  }
  .navDiv{
    margin-top: 40px;
    padding-right: 4vw;
  }
  .navDiv a{
    font-size: 1.70rem;
  }

  /*TITLE BLOCKS*/
  /*LARGE SCREEN*/

  .hero{
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    width: auto;
  }
  .heroImage {
    height: 100vh;
    width: auto;
  }
  .title{
    font-size: 5em;
    overflow: hidden;
    padding-left: 1rem;
  }
  .subtitle{
    overflow: hidden;
    padding-top: 0;
  }
  .leftBarA{
    overflow: hidden;
  }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0rem;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /*margin-bottom: 1.45rem;*/
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  /*font-size: 2.25rem;*/
  line-height: 1.1;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /*margin-bottom: 1.45rem;*/
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  /*font-size: 1.62671rem;*/
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: .5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-family: "Lato", serif;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
